.rmdcaution, .rmdimportant, .rmdnote, .rmdtip, .rmdwarning {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #f5f5f5 5px center/3em no-repeat;
}

p.caption {
  color: #777;
  margin-top: 6px;
  font-size: 0.6em; /* Personally added! */
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
p.flushright {
  text-align: right;
}
blockquote > p:last-child {
  text-align: right;
}
blockquote > p:first-child {
  text-align: inherit;
}
.header-section-number {
  padding-right: .2em;
  font-weight: 500;
}
.level1 .header-section-number {
  display: inline-block;
  border-bottom: 3px solid;
}
.level1 h1 {
  border-bottom: 1px solid;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
h1.title {
  font-weight: 700;
}
.book .book-body .page-wrapper .page-inner section.normal strong {
  font-weight: 500;
}

/* Personally added! */

.boxed {
  border: 1px solid gray ;
  border-radius: 5px;
  padding: 20px 0px 10px 0px;
}

.table{
  width:auto;
  font-size: 12px;
}

.verysmall .table{
  font-size: 8px;
}


caption {
  font-size: 0.3em; /* Personally added! */
}
